.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #222;
  }
  
  .card img {
    width: 100px; /* ou o tamanho que preferir */
    height: auto; /* mantém a proporção da imagem */
    border-radius: 5px;
  }
  