<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://s2-ge.glbimg.com/rUx2IS6y_lFLCQkK03pg8Q5CtxQ=/0x0:1024x592/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2024/6/F/Y9v71zQ92T7cAex088ag/gettyimages-2173724318.jpg"
      cardTitle="GP DE SINGAPURA: Norris anula Verstappen e vence de ponta a ponta."
      cardDescription="Piloto da McLaren conquistou vitória segura na corrida deste domingo, no Circuito de Marina Bay. Piastri completou pódio após desbancar as duas Mercedes."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="RB confirma retorno de Liam Lawson."
      photoCover="https://www.nzherald.co.nz/resizer/v2/5JDRJAP43CGZ7WJNHG3HLQ7NDY.jpg?auth=a9ccdfc1a600c4e3044b49edb8c60f059beeae3ffa3fb123ef2323296b468ee4&width=1440&height=810&quality=70&smart=true"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="'Arriscado, mas poderia nos dar vantagem', diz Hamilton sobre largada com pneus macios."
      photoCover="https://s2-ge.glbimg.com/7wWUNQ8B_4NKleU0PYQm52ms_SQ=/0x0:1024x683/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2024/Q/0/igp399R7SSdsgwlwA3Cg/gettyimages-2172946778.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Daniel Ricciardo se despede da Fórmula 1 2024."
      photoCover="https://s2-ge.glbimg.com/2XAaXND3tD2tiZtzCC-HhOlms_U=/0x0:1024x683/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2023/f/P/BKFALvRmyHnSPbf6qMug/gettyimages-1762196588.jpg"
    ></app-small-card>
  </div>
</div>
